#contentpanel{
	border: none !important;
}

.choices {
	float: left;
}

.bp-photo-frame {
	display: none;
}

.bp-title {
	text-align: center;
	font-size: 10px;
	color: #fff !important;
}

.bp-description{
	height:auto !important;
	width: 100% !important;
	left: 0 !important;
	top: 20px !important;
	padding: 2px 3px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	margin : 0 auto !important;
}

.no-data {
	background-color: #eee;
	border: 1px solid #ddd;
}

#leftwrapper, #rightwrapper {
	font-size: 11px;
	color: #fff;
	position: absolute;
	top: 22px;
	width: 100%;
}

#rightwrapper {
	text-align: right;
}

#left, #right {
	padding: 1px 5px;
	background-color: #5f9ea0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#left {
	margin-left: 2px;
}

#right {
	margin-right: 2px;
}

/**********************
********* NAV *********/

#westpanel {
	overflow: hidden !important;
	resize:both;
	background-color: #47A447;
	border: none;
	border-bottom: 1px solid #398439;
}

#westpanel.mousescroll {
    overflow: hidden;
}
#westpanel.mousescroll:hover {
    overflow-y: scroll;
}
#westpanel h2 {
	padding-left: 10px;
	padding-top: 5px;
}

#westpanel h2>a {
	font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #333;
	width: 100%;
}

#westpanel h2>a:hover {
	text-decoration: none;
	color: #111;
}

#westpanel h4 {
	font-family: "Segoe UI Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.skin-square ul {
	list-style: none;
	padding-left: 15px;
}
.skin-square li label{
	position: relative;
	padding-left: 45px;
	padding-bottom: 15px;
}

.iradio_square, .iradio_square-red, 
.iradio_square-green, .iradio_square-blue, 
.iradio_square-aero, .iradio_square-grey, 
.iradio_square-orange, .iradio_square-yellow, 
.iradio_square-pink, .iradio_square-purple,
.iradio_minimal, .iradio_minimal-red, 
.iradio_minimal-green, .iradio_minimal-blue, 
.iradio_minimal-aero, .iradio_minimal-grey, 
.iradio_minimal-orange, .iradio_minimal-yellow, 
.iradio_minimal-pink, .iradio_minimal-purple,  
.iradio_polaris, .iradio_futurico {
	position: absolute;
	/*top: 0;*/
	left: 20px;
}

label {
	font-size: 14px;
	color: #fff;
	font-weight: 100;
	cursor: pointer;
	width: 100%
}

/**********************
****** Filter ********/
div#filter>#filter-wrapper {
	padding: 0 3px;
}

.form-control {
	padding: 4px 6px;
	height: 32px;
}

#filter ul {
	padding-left: 0;
	padding-top: 8px;
}

#filter ul>li {
	list-style: none;
	padding: 5px 0 10px 5px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	border-bottom: 1px solid #398439;
	
}

#filter .name {
	color: #111;
}

#filter ul>li:hover {
	background-color: #55a855;
}

#filter ul>li {
	list-style: none;
	padding-bottom: 10px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}
